body {
  font-size: 16px;
}
header {
  background-color: white;
  letter-spacing: 0.2em;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 140px;
}

.container {
  max-width: 1200px !important;
}

.logo {
  margin: 70px auto 100px;
  border: 3px solid #75c3cf;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  color: #75c3cf;
  border-radius: 60px;
  font-family: "Merienda", cursive;
}

.logo h2 {
  font-size: 50px;
}

header h1 {
  padding-top: 2.5em;
  font-size: 2.3em;
  padding-bottom: 1.9em;
  font-weight: 600;
  letter-spacing: 0.3em;
  padding-left: 40px;
  padding-right: 40px;
}

header h2 {
  animation-name: appear;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.presentation-img {
  width: 40vw;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: -130px;
  box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.2);
}

.presentation-img img {
  width: 100%;
  min-height: auto;
  border-radius: 5px;
}

.container-fluid.presentation {
  background-color: #f2f5f5;
  padding-bottom: 200px;
}

.presentation-header {
  margin-top: 80px;
  margin-bottom: 50px;
}

.presentation-text {
  width: 70%;
  margin: 0 auto;
  text-align: justify;
  font-size: 20px;
}

.project h3 {
  margin-top: 4em;
  margin-bottom: 0.5em;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.2em;
}

.project h4 {
  margin-bottom: 4em;
  font-size: 20px;
}

.skills {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  letter-spacing: 0.2em;
  width: 65%;
  margin: -129px auto 0;
  padding-bottom: 120px;
  position: relative;
  z-index: 2;
}

.skills h3 {
  margin-bottom: 1em;
}

.row {
  justify-content: center !important;
}

.project_box {
  border-radius: 3px;
  margin-bottom: 3em;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}

.project_box_content {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: 0.5s ease;
  height: 100%;
}

.project_box_content:hover {
  opacity: 1;
}

.project_img {
  width: 100%;
  height: 100%;
}

.project_content {
  padding: 20px;

  max-width: 1200px;
  margin: 0 auto;
}

.project_box_describe {
  border-radius: 3px;

  background-color: white;
  margin-bottom: 3em;
  padding-bottom: 70px;
  margin: 22px;
}

.footer {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.2em;
  height: 50vh;
  background-color: #404044;
  color: white;
  margin-top: 50px;
}

.footer h4 {
  font-size: 1.2em;
  margin-top: 20vh;
  line-height: 1.7em;
}

.project_box_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project_box_logo_item {
  margin-top: 10px;
  flex-basis: 60px;
  height: 70px;
  padding: 4px;
  margin-left: 20px;
}

.project_box_logo_item_describe {
  margin-top: 10px;
  flex-basis: 30px;
  height: 40px;
  padding: 4px;
  margin-left: 20px;
}
.project_box_logo_item_describe img {
  width: 100%;
  height: 100%;
}
.project_box_logo_item.less {
  margin-top: 10px;
  flex-basis: 80px;
  height: 70px;
  padding: 4px;
  margin-right: 20px;
}

.project_box_logo_item_describe.less {
  margin-top: 3px;
  flex-basis: 40px;
  height: 60px;
  padding: 4px;
}

.project_box_logo_item img {
  width: 100%;
  height: 100%;
}

.project_box_describe_paragraf {
  text-align: center;
  margin: 2em 2em;
  color: rgb(54, 52, 52);
  font-size: 16px;
  padding: 30px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

.footer_link_repositories a {
  text-decoration: none;
  font-size: 17px;
  color: #5dbcd2;
  font-weight: 600;
}

.footer_link_repositories {
  border-right: 1px solid #70cde2;
  border-left: 1px solid #70cde2;
  width: 400px;
  margin: 50px auto 0px;
}
.footer_link_repositories i {
  margin-left: 10px;
}
.footer_link_repositories a:hover {
  color: #a3e6f5;
}

@media (max-width: 1200px) {
  .project_box_describe_paragraf {
    margin: 1em 1em;

    padding: 10px;
  }
}
@media (max-width: 1050px) {
  .project_box_describe_paragraf {
    margin: 0.8em 0.8em;

    padding: 10px;
  }
}
@media (max-width: 991px) {
  .project_box_describe_paragraf {
    margin: 2em 2em;

    padding: 60px;
  }
  .skills {
    width: 70%;
  }
  .project_box_logo_item_describe {
    margin-top: 20px;
    flex-basis: 50px;
    height: 60px;
  }
  .project_box_logo_item_describe.less {
    margin-top: 5px;
    flex-basis: 50px;
    height: 90px;
    padding: 4px;
    margin-left: 20px;
  }
  .presentation-img {
    width: 60vw;
  }
}

@media (max-width: 710px) {
  .skills {
    width: 80%;
  }
  .project_box_logo_item_describe {
    margin-top: 20px;
    flex-basis: 40px;
    height: 50px;
  }
  .project_box_logo_item_describe.less {
    margin-top: 5px;
    flex-basis: 50px;
    height: 80px;
  }
  .project_box_logo_item {
    flex-basis: 50px;
    height: 60px;
  }
  .presentation-img {
    width: 70vw;
  }
}

@media (max-width: 670px) {
  .skills {
    width: 85%;
    padding-bottom: 90px;
  }

  .presentation-img {
    width: 70vw;
  }
  .project_box_describe_paragraf {
    text-align: center;
    margin: 0.5em 0.5em;

    font-size: 16px;
    padding: 60px;
  }
  .presentation-text {
    width: 80%;
  }
  header h1 {
    line-height: 62px;
  }
}

@media (max-width: 550px) {
  header h1 {
    font-size: 34px;
    line-height: 55px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 14px;
  }

  .footer_link_repositories a {
    font-size: 14px;
  }

  .footer_link_repositories {
    width: 300px;
  }

  .presentation-text {
    font-size: 18px;
  }

  .skills {
    width: 95%;
  }
  .project_box_logo_item {
    margin-top: 10px;
    flex-basis: 40px;
    height: 50px;
    padding: 2px;
    margin-left: 10px;
  }

  .project_box_logo_item_describe {
    flex-basis: 30px;
    height: 40px;
  }
  .project_box_logo_item_describe.less {
    margin-top: 15px;
    flex-basis: 40px;
    height: 50px;
  }
  .project_box_describe_paragraf {
    margin: 0.1em 0.1em;

    font-size: 15px;
    padding: 30px;
  }
  .project_box {
    min-height: 250px;
  }

  .project_box {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 400px) {
  .project_box_logo_item {
    flex-basis: 30px;
    height: 40px;
    padding: 1px;
  }
  .project_box_logo_item.less {
    flex-basis: 40px;
    height: 50px;
    margin-top: 5px;
  }

  .presentation-img {
    width: 90vw;
  }

  h4 {
    font-size: 13px;
  }
  h2 {
    font-size: 26px;
    padding: 20px;
  }
  header h1 {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 29px;
    line-height: 50px;
  }
  .presentation-text {
    width: 90%;
  }
  .project_box_describe_paragraf {
    padding: 15px;
  }
}
@media (max-width: 330px) {
  h4 {
    font-size: 11px;
  }
  .project_box_describe_paragraf {
    padding: 9px;
  }
  .footer_link_repositories a {
    font-size: 12px;
  }

  .footer_link_repositories {
    width: 220px;
  }
  header h1 {
    font-size: 25px;
    letter-spacing: 0.2em;
    line-height: 40px;
  }
}
