*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-size: 16px;
}
header
{
    background-image: url("diamond.png");
    height: 50vh;  
    letter-spacing: 0.2em;
    font-family: 'Girassol', cursive;
}

h1
{
    padding-top: 2.5em;;
}
h3
{
    margin-top:4em;
    margin-bottom: 4em;
    font-family: 'Girassol', cursive;
    letter-spacing: 0.2em;
}
.project_box
{
    border-radius: 1em;
    margin-bottom: 3em;
    height: 50vh;
    box-shadow:0 5px 10px rgba(0,0,0,.8);
    background-color: white;
    position: relative;
    left: 20px;
}
.project_box:hover
{
    transform:scale(1.03)
}

.project_img
{
    width: 100%;
    height: 100%;
}


.project_content
{
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 1em;
}

.project_box_describe

{
    border-radius: 1em;
    box-shadow:0 5px 10px rgba(0,0,0,.8);
    height: 50vh;
    position: relative;
    left: 70px;
    background-color: white;
    
}


.footer
{
    font-family: 'Girassol', cursive;
    letter-spacing: 0.2em;
    
    height: 50vh;  

}

h4
{
    font-size: 1.5em;
    margin-top: 25vh;
}

.project_box_logo
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

.project_box_logo_item
{
    margin-top: 10px;
    flex-basis: 80px ;
    height: 80px;  
    
}

.project_box_logo_item_bootstrap
{
    flex-basis: 65px ;
    height: 65px;
    margin-top: 20px ;
    margin-left: 10px;
}

.project_box_logo_item_react
{
    width: 200px;
}

.project_box_logo_item img
{
    width: 100%;
    height: 100%;
}
.project_box_logo_item_react
{
    flex-basis: 88px ;
    height: 88px;
}

.project_box_describe_paragraf
{
    text-align: justify;
    margin: 2em 2em;
    font-weight: 700;
    
}